.BoxContainer {
  display: flex;
  flex-direction: row;
  height: 560px;
  width: 100%;
}

.RightBox {
  display: grid;
  grid-template-columns: 47.3% 47.3%;
  grid-template-rows:50% 50%;
  column-gap: 5.4%;
  height: 560px;
  width: 61.6%;
  margin-left: 30px;

}

.Box1 {
  width:38.5%;
  height: 560px;
  border-top: solid;
}

.Box1 .SubTitle {
  margin-top: 20px;
}

.SubTitle {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-top: 10px;
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "ProximaNova-Semibold";
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
}

.Title {
  margin-top: 2px;
  margin-bottom: 18px;
  width: 100%;
  height: 70px;
  overflow: hidden;
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 35px;
}

.Col1 {
  display: flex;
  flex-direction: column;
}
.Box1 .Title {
  height: 50px;
  margin-top: 1px;
}

.Box2 .Paragraph{
  max-height: 125px;
  overflow: hidden;
}

.Box1 .Paragraph {
  width: 100%;
  height: 100px;
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  line-height: 25px;
  margin-top: 10px;
  overflow: hidden;
}

.Box1 .Image {
  width: 100%;
  height: 280px;
  margin-top: 50px;
}

.Box2 {
  height: 280px;
  border-top: solid;
}

.Box2 .Image {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .BoxContainer {
    display: block;
    height: 1680px;
  }

  .Box1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .RightBox {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin-left: 30px;
  }

  .Box2 {
    width: 100%;
    margin-left: 8px;
  }

  .Box2 .Image {
    width:70%;
    margin-left: auto;
    margin-right: auto;
  }
}
