.RecomendedVideoesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .RecomendedVideoesContainer {
    align-items: center;
    justify-content: center;
  }
}
