.RecomendedVideoesContainer{
    display: flex;
    flex-direction: column;
    height: 380px ;
    position: relative;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    .RecomendedVideoesContainer {
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 1070px;
    }
  }