.IconsContainer {
  position: absolute;
  right: calc(100% * (161.96 / 1440));
  width: calc(100% * (136.01 / 1440));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Login {
  position: absolute;
  right: calc(100% * (329 / 1440));
  opacity: 1;
  color: rgba(51, 51, 58, 1);
  font-family: "ProximaNova-Semibold";
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: left;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 767px) {
  .IconsContainer {
    position: absolute;
    width: 15%;
    right: 20px;
  }
  .Login {
    /* font-size: 10px; */
    display: none;
  }
}
