.AddBarContainer {
  background-color: black;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.AddBarContainer p {
  position: absolute;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "proxima-nova", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  right: calc(100% * (529 / 1440));
}

/* Mobile */

@media (max-width: 767px) {
  .AddBarContainer {
    width: 100%;
  }
  .AddBarContainer p {
    text-align: left;
    padding-left: 36%;
  }
}
