@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
.AboutMatter {
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  justify-content: space-between;
}

.AboutMatter .LeftCol{
  width:48.7%;
}
.AboutMatter .RightCol {
  width:51.3%;
  justify-content: space-between;


}
.AboutMatter .LeftCol img{
  width:100%;
  height: 100%;
}
.AboutMatter .LeftCol,
.AboutMatter .RightCol {
  height: 100%;
}

.AboutMatter .RightCol {
  margin-left: 29px;
}

@media (max-width: 767px) {
  .AboutMatter {
    width: 100%;
    flex-direction: column;
    height: 1000px;
  }
  .AboutMatter .LeftCol{
    width: 100%;
    margin-bottom: 20px;
  }

  .LeftCol img {
    width: 100%;
  }
  .RightCol {
    width: 100%;
    margin-left: 0px;
  }
}
