.Image {
  z-index: -1;
  width: 263px;
  height: 350px;
  align-self: center;
  justify-self: center;
}
#ImageOpacity {
  opacity: 0.6;
}

.ImageCardContainer {
  z-index: -1;
  position: relative;
  width: 263px;
  height: 390px;
}

.QuickView {
  z-index: 500;
  height: 50px;
  width: 180px;
  border: #33333a;
  background-color: #33333a;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 185.48px;
  right: 76.5px;
  cursor: pointer;
}

.ShopNow {
  z-index: 999;
  height: 40px;
  width: 180px;
  border: #33333a;
  background-color: #33333a;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  right: 41px;
  cursor: pointer;
}

#hidden {
  display: none;
}

@media (max-width: 767px){
  .ImageCardContainer {
    height: 305px;
  }
  .Image {
    height: 305px;
  }
}