* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  /* box-shadow: 0px 10px 40px rgba(0,0,0, 0.1); */
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
section {
  padding-left: calc(100% * (150 / 1440));
  padding-right: calc(100% * (149 / 1440));
  margin-top: 62px;
}

header {
  padding-left: calc(100% * (150 / 1440));
  padding-right: calc(100% * (150 / 1440));
}
footer {
  padding-left: calc(100% * (150 / 1440));
  padding-right: calc(100% * (150 / 1440));
}

@media (max-width: 767px) {
  body {
    width: 100%;
  }
  section {
    width: 100%;
  }
  .App {
    width: 100%;
  }
  header {
    padding-left: 2%;
    padding-right: 2%;
  }
}
